@charset "utf-8";
/* CSS Document */
body{
	background-color: #02010a;
	font-family: 'Dancing Script', cursive;
}
.contenido{
	margin: 0 auto;
}
header{
	color: #ffffff;
	background-color: #5b7989;
	border-radius: 10px 10px 0 0;
}
header h1{
	padding: 2% 4% 2% 1%;
}
ul{
	list-style-type: none;
	text-align: right;
	font-size: 1.3em;
}
ul li{
	display: inline;
	padding: 2%;
}
ul li a{
	color: #ffffff;
}
ul li a:visited{
	text-decoration: none;
}
.sombra{ 
	text-shadow: 2px 2px 2px #02010a;
	/*padding: 10px;*/
}
@media (max-width: 900px){
	.contenido{
		width: 100%;
	}
	
}

@media (min-width: 900px){
	.contenido{
		width: 900px;
	}
}
