@charset "utf-8";
/* CSS Document */
body{
	background-color: #02010a;
	font-family: 'Dancing Script', cursive;
}
.contenido{
	margin: 0 auto;
}
header{
	color: #ffffff;
	background-color: #5b7989;
	border-radius: 10px 10px 0 0;
}
header h1{
	padding: 0% 0% 0% 2%;
	width: 40%;
	float: left;
	
}
#navprincipal{
	width: 50%;
	float: left;
	padding-top: 1%;
}
ul{
	list-style-type: none;
	text-align: right;
	font-size: 1.3em;
}
ul li{
	display: inline;
	padding: 2%;
}
ul li a{
	color: #ffffff;
}
a.visitada{
	text-decoration: none;
}
.sombra{ 
	text-shadow: 2px 2px 2px #02010a;
}
@media (max-width: 900px){
	.contenido{
		width: 100%;
	}
	header{
		min-height: 200px;
	}
	header h1{
		width: 100%;
		text-align: center;
	}
	#navprincipal{
		width: 100%;
	}
	ul{
		text-align: center;
	}
	#central{
		max-width: 96%;
		margin: 2%;
	}
	section{
		max-width: 900px;
		width: 100%;
		background-color: #82c3a6;
	}
	
}

@media (min-width: 900px){
	.contenido{
		width: 900px;
	}
	header{
		width: 900px;
		min-height: 80px;
	}
	section{
		min-width: 900px;
		height: auto;
		background-color: #82c3a6;
	}
	#central{
		max-width: 80%;
		margin: 2% 10%;
	}
}
